/* font-family: 'Open Sans Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Quicksand:400,700&subset=latin-ext');

@font-face {
    font-family: 'DINCond-Bold';
    src: url('../fonts/DINCond-Bold.eot');
    src: url('../fonts/DINCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINCond-Bold.woff2') format('woff2'),
    url('../fonts/DINCond-Bold.woff') format('woff'),
    url('../fonts/DINCond-Bold.svg#DINCond-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('../fonts/Lucida Grande.eot');
    src: url('../fonts/Lucida Grande.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lucida Grande.woff2') format('woff2'),
    url('../fonts/Lucida Grande.woff') format('woff'),
    url('../fonts/Lucida Grande.svg#Lucida Grande') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light.woff') format('woff'),
    url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-weight: 400;

    overflow: auto !important;

    padding: 0 0;
    min-width: 300px;

    color: #7f7f7f;
    background: #fff;

    text-rendering: optimizeLegibility;
}

ol,
ul {
    margin: 0;

    list-style: none;
}

textarea,
input {
    outline: none;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    line-height: 1.5em;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 14px;
}

a {
    -webkit-transition: .25s;
    transition: .25s;

    color: #25adb5;
}

input[type='date'],
input[type='time'] {
    height: 20px;
}

a:hover,
a:focus {
    text-decoration: none !important;
}

/* Internet Explorer 10+ */
p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
li::-moz-selection,
a::-moz-selection {
    background: #25adb5;
    text-shadow: none;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
a::selection {
    background: #25adb5;
    text-shadow: none;
}

p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
li::-moz-selection,
a::-moz-selection {
    background: #25adb5;
    text-shadow: none;
}

p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::selection,
li::selection,
a::-moz-selection {
    background: #25adb5;
    text-shadow: none;
}

.clearfix:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */

div.frameT {
    position: absolute;
    top: 0;
    left: 0;

    display: table;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    padding: 7px 0;

    text-align: center;

    background: rgba(218, 218, 218, .3);
}

.header img {
    max-width: 226px;
    margin: 0 auto;
}

.attend-div {
    font-family: 'Helvetica', sans-serif;

    margin: 0 auto;
    padding: 10px 15px;
}

.attend-div .open-modal {
    font-family: 'HelveticaNeue-Light', sans-serif;
    font-size: 20px;

    display: inline-block;
    float: none;

    padding: 2px 20px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;

    color: #fff;
    border: 1px solid #d0b2eb;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    background: #d0b2eb;
}

.attend-div .open-modal:hover {
    background: #cc9ef6;
}

.attend-div > div {
    padding: 0 10px;

    text-align: center;
}

.attend-div p {
    font-family: 'HelveticaNeue-Light', sans-serif;
    font-size: 16px;
    line-height: normal;

    display: block;
    float: none;

    margin-top: 5px;

    letter-spacing: .7px;

    color: #000;
}

.attend-div p strong {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;

    text-transform: uppercase;
}

.content-div {
    font-family: 'Lobster', cursive;

    padding: 40px 49px;
}

#decription {
    min-height: 250px;
    padding: 57px 51px;

    text-align: center;
    word-wrap: break-word;

    -webkit-border-radius: 50px;

    border-radius: 50px;
    background: rgba(10, 10, 10, .35);
}

#decription h2 {
    width: 374px;
    margin: 0 auto;

    background: url(../images/title-bg.png) no-repeat;
}

#topImage {
    padding: 50px 0;

    text-align: center;
}

/* common css */
.clearfix:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

/* Template 2 */
img {
    display: block;
}

.wrapDiv {
    font-size: 24px;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    min-width: 260px;
    max-width: 550px;
    margin: 0 auto;
    padding: 0;

    background: url(../images/background.png) no-repeat;
    background-size: 100% 100%;
}

.wrapDiv.vertical-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.webView .wrapDiv {
    margin-top: 0;
}

.container {
    position: relative;

    max-width: 550px;
    height: 30em;
    margin: 1.25em 1.333em 0;
    padding: 0;

    text-align: center;

    color: #000;
    background: url(../images/content-background.png) no-repeat;
    background-size: 100% 100%;
}

.bannerImag {
    display: block;
    overflow: hidden;

    max-height: 11.8em;
    margin: -1.25em -1.333em 0;

    text-align: center;
}

.bannerImag img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    object-fit: cover;
}

.contentWrap {
    width: 100%;
    height: 18.5em;
    overflow-y: auto;

    word-wrap: break-word;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.event-desc,
.date-event,
.event-time,
.event-location,
.event-hosted {
    font-family: 'Quicksand', sans-serif;
    font-size: .9em;
    line-height: 1.2;

    text-align: center;
    letter-spacing: .7px;

    color: #000;
}

.event-name {
    font-family: 'Amatic SC', cursive;
    font-size: 1.9em;
    font-weight: bold;
    line-height: 1em;

    letter-spacing: .6px;
}

.event-name .cell {
    height: 2.3em;
}

.event-desc {
    font-size: .85em;

    padding-right: .4em;
    padding-left: .4em;
}

.event-desc .cell {
    height: 5.8em;
}

.date-event .cell,
.event-time .cell {
    height: 1.4em;
}

.date-event .cell {
    padding-top: .5em;
}

.event-time .cell {
    padding-bottom: .5em;
}

.event-location .cell {
    height: 3.6em;
}

.event-location .cell {
    height: 3.6em;
}

.event-hosted .cell {
    height: 2.6em;
}

.event-desc,
.event-hosted {
    font-weight: 400;
}

.date-event,
.event-time,
.event-location {
    font-weight: 700;
}

/*---------- Popup ----------*/
.text-center li {
    text-align: center;
}

.remodal {
    font-family: 'HelveticaNeue-Light', sans-serif;
}

.remodal h3 {
    font-family: 'HelveticaNeue-Light', sans-serif;
    font-size: 60px;
}

.hr-line {
    width: 90%;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 15px;

    background: #797979;
}

p.guest-count {
    font-size: 30px !important;
}

.guest-count.wid250 {
    font-style: italic;
    line-height: 35px;

    width: 80%;
    margin: 0 auto;
    margin-top: 20px;

    text-decoration: underline;
}

.pos-buttons {
    padding-top: 30px;
    padding-bottom: 10px;

    list-style-type: none;
}

.pos-buttons li {
    position: relative;

    display: inline-block;

    width: 160px;
    height: 60px;
    margin: 0;
    padding-bottom: 0 !important;
}

.pos-buttons li:nth-child(2) {
    width: 140px;
}

.pos-buttons li:nth-child(2),
.pos-buttons li:nth-child(3) {
    margin-left: -5px;
}

.pos-buttons label,
.pos-buttons input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
}

.pos-buttons input[type='radio'] {
    z-index: 100;

    opacity: .011;
}

.pos-buttons input[type='radio']:checked + label {
    background: #d0b1eb;
}

.pos-buttons label {
    z-index: 90;

    margin-right: 0;
    padding: 5px !important;

    cursor: pointer;
    text-transform: uppercase;

    border: 1px solid #797979;
}

.pos-buttons li:nth-child(1) label {
    border-right: none;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.pos-buttons li:nth-child(2) label {
    border-right: none;
    border-left: none;
}

.pos-buttons li:nth-child(3) label {
    border-left: none;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.remodal-overlay {
    margin-top: 70px;
}

#decription {
    display: table;

    width: 100%;
}

.transp-data {
    display: table-cell;

    vertical-align: middle;
}

@media only screen and (max-width: 579px) {
    .wrapDiv, .wrapDiv.vertical-centered {
        margin-left: 15px;
        margin-right: 15px;
    }
}
